.userDialog {
  padding-left: 20px;
  padding-top: 30px;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.userDialogNav {
  color: rgb(87, 87, 87);
  text-decoration: none;
}

.active {
  color: rgb(34, 34, 34);
  text-decoration: none;
}
