.sidebar {
  grid-area: side;
  background-color: green;
  padding: 10px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 50px;
  font-weight: 400;
  height: 600px;
}

.sidebar a {
  text-decoration-line: none;
  color: white;
}

.listnav {
  padding: 0px;
}

.listnavpoint {
  list-style: inside none;
}
